{{#if user}}
    {{#if user.permisos}}
        <!-- -------------------DOCENTE-------------- -->
        <main class="index">
            <!--Contenido cartel index-->
            <div class="index-banner-container py-5" style="background-image: url(/img/font-index3.jpg);height: 100%">

                <div class="container">

                    <div class="row">
                        <section class="col pt-5 index-lema-container">
                            <section class="index-lema">
                                <h2><b>Aprende</b>
                                    <br>fácil y rapido<br> <b>desde casa</b>
                                </h2>
                            </section>
                        </section>
                        <section class="col">
                            <img src="/img/logoCod2.png" alt="Logo" class="img-responsive" id="logoIndex" width="100%">
                        </section>
                    </div>
                </div>

            </div>
            <!--Que es CodyEdu-->
            <div class="py-2" style="background-image: url(/img/font-index6.png);height: 100%">
                <div class="container">
                    <div class="row pt-5 mt-5">
                        <section class="card col-sm-12 col-md-7 p-5">
                            <h3 class="text-center">¿Qué es CodyEdu?</h3>
                            <p class="text-justify">Personal del Centro de Integración juvenil unidad Cuauhtémoc recién
                                egresado de la Universidad Pedagógica Nacional, lleva a cabo cursos
                                multidisciplinarios con niños y jóvenes los cuales por motivos de la pandemia
                                cuya llegada fue en 2019, estos cursos no pueden ser llevados de manera presencial,
                                esta problematica trajo consigo la busqueda de la automatización de procesos, aquí es
                                donde llega CodyEdu una aplicación web que permite la implementación de cursos desde
                                el hogar.</p>
                        </section>
                        <section class="col">
                            <img src="/img/font-index5.png" alt="CodyEdu" title="CodyEdu" width="100%">
                        </section>
                    </div>

                </div>
            </div>

            <div class="py-2" style="background-image: url(/img/font-index7.png);height: 100%">

                <div class="container">
                    <h2 align="CENTER" style="color: white;">Temas disponibles</h2>
                    <div class="row my-5">
                        <div class="col-12 col-md-6 col-lg-3">
                            <div class="card  mb-5 mx-5 mx-md-0 px-0 ">
                                <img src="/img/tema.jpg" class="card-img-top" alt="Imagen Actividad">
                                <div class="card-body px-4">
                                    <h3 class="card-title text-center">Oraciones homófonas</h3>
                                    <p class="card-text text-justify">En este curso aprenderás sobre como identificar el uso correcto de las palabras homofonas en oraciones</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-3">
                            <div class="card  mb-5 mx-5 mx-md-0 px-0 ">
                                <img src="/img/temab.jpg" class="card-img-top" alt="Imagen Actividad">
                                <div class="card-body px-4">
                                    <h3 class="card-title text-center">Rimas</h3>
                                    <p class="card-text text-justify">En este curso aprenderás a identificar las rimas y a utilizarlas en un oración.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-3">
                            <div class="card  mb-5 mx-5 mx-md-0 px-0 ">
                                <img src="/img/temac.jpg" class="card-img-top" alt="Imagen Actividad">
                                <div class="card-body px-4">
                                    <h3 class="card-title text-center">Signos de admiración e interrogación</h3>
                                    <p class="card-text text-justify">En este curso aprenderás que signos se ocupan para exclamar y cuales para interrogar</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-3">
                            <div class="card  mb-5 mx-5 mx-md-0 px-0 ">
                                <img src="/img/temad.jpg" class="card-img-top" alt="Imagen Actividad">
                                <div class="card-body px-4">
                                    <h3 class="card-title text-center">Palabras homófonas</h3>
                                    <p class="card-text text-justify">En este curso aprenderás sobre como identificar el uso correcto de las palabras homofonas.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="container py-5">
                <div class="row align-items-center">
                    <section class="col-sm-12 col-md-6">
                        <video controls style="width: 100%" poster="/img/miniatura2.jpg">
                            <source src="/video/TutoEdu.mp4" type="video/mp4">
                        </video>
                    </section>
                    <section class="col">
                        <div class="row mb-3">
                            <div class="col-sm-4">
                                <img class="img-fluid" src="/img/actividadb.jpg" alt="Información" title="Información">
                            </div>
                            <div class="col-sm-8">
                                <h4>Conecta con tus profesores</h4>
                                <p>Manten una comunicación efectiva con tus profesores desde la distancia</p>
                                <p class="post-meta d-flex justify-content-between">
                                    <span>Codificate</span>
                                    <span>Diciembre 2021</span>
                                </p>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-4">
                                <img class="img-fluid" src="/img/actividadc.jpg" alt="Información" title="Información">
                            </div>
                            <div class="col-sm-8">
                                <h4>Estudia diversos temas</h4>
                                <p>Aprende sin alejarte de casa con los mejores expertos</p>
                                <p class="post-meta d-flex justify-content-between">
                                    <span>Codificate</span>
                                    <span>Marzo 2022</span>
                                </p>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-4">
                                <img class="img-fluid" src="/img/actividad.jpg" alt="Información" title="Información">
                            </div>
                            <div class="col-sm-8">
                                <h4>Estudia a tu ritmo</h4>
                                <p>Cursos gratuitos al alcance de un click</p>
                                <p class="post-meta d-flex justify-content-between">
                                    <span>Codificate</span>
                                    <span>Abril 2022</span>
                                </p>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <!--======================================== Enlaces importantes ========================================-->

            <div class="container py-5">
                <section class="text-center important-links-index">
                    <h1 class="text-center">Sitios y enlaces extras</h1>
                    <div class="row">
                        <section class="col">
                            <a href="https://www.rae.es/obras-academicas/gramatica" class="open-link-newTab">
                                <i class="fa fa-book"></i>
                                <p>RAE</p>
                            </a>
                        </section>
                        <section class="col">
                            <a href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&cad=rja&uact=8&ved=2ahUKEwjrjvvrmOT0AhVym2oFHV98AiMQFnoECAYQAQ&url=https%3A%2F%2Flya.fciencias.unam.mx%2Fgfgf%2Fga20111%2Fmaterial%2FOrtografia.pdf&usg=AOvVaw3b2Wp14idMCjjKP9TEQU4-" class="open-link-newTab">
                                <i class="fa fa-graduation-cap"></i>
                                <p>Ortográfia UNAM</p>
                            </a>
                        </section>
                        <section class="col">
                            <a href="https://dem.colmex.mx/Ortografia" class="open-link-newTab">
                                <i class="fa fa-pencil"></i>
                                <p>Diccionario Mexicano</p>
                            </a>
                        </section>
                    </div>
                </section>
            </div>
        </main>
    {{else}}
        <!-- -------------------ESTUDIANTE-------------- -->
    <main class="index">
        <!--Contenido cartel index-->
        <div class="index-banner-container py-5" style="background-image: url(/img/font-index3.jpg);height: 100%">
            <div class="container">
                <div class="row">
                    <section class="col pt-5 index-lema-container">
                        <section class="index-lema">
                            <h2><b>Aprende</b>
                                <br>fácil y rapido<br> <b>desde casa</b>
                            </h2>
                        </section>
                    </section>
                    <section class="col">
                        <img src="/img/logoCod2.png" alt="Logo" class="img-responsive" id="logoIndex" width="100%">
                    </section>
                </div>
            </div>

        </div>
        <!--Que es CodyEdu-->
        <div class="py-2" style="background-image: url(/img/font-index6.png);height: 100%">
            <div class="container">
                <div class="row pt-5 mt-5">
                    <section class="card col-sm-12 col-md-7 p-5">
                        <h3 class="text-center">¿Qué es CodyEdu?</h3>
                        <p class="text-justify">Personal del Centro de Integración juvenil unidad Cuauhtémoc recién
                            egresado de la Universidad Pedagógica Nacional, lleva a cabo cursos
                            multidisciplinarios con niños y jóvenes los cuales por motivos de la pandemia
                            cuya llegada fue en 2019, estos cursos no pueden ser llevados de manera presencial,
                            esta problematica trajo consigo la busqueda de la automatización de procesos, aquí es
                            donde llega CodyEdu una aplicación web que permite la implementación de cursos desde
                            el hogar.</p>
                    </section>
                    <section class="col">
                        <img src="/img/font-index5.png" alt="CodyEdu" title="CodyEdu" width="100%">
                    </section>
                </div>

            </div>
        </div>

        <div class="py-2" style="background-image: url(/img/font-index7.png);height: 100%">

            <div class="container">
                <h2 align="CENTER" style="color: white;">Temas disponibles</h2>
                <div class="row my-5">
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="card  mb-5 mx-5 mx-md-0 px-0 ">
                            <img src="/img/tema.jpg" class="card-img-top" alt="Imagen Actividad">
                            <div class="card-body px-4">
                                <h3 class="card-title text-center">Oraciones homófonas</h3>
                                <p class="card-text text-justify">En este curso aprenderás sobre como identificar el uso correcto de las palabras homofonas en oraciones</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="card  mb-5 mx-5 mx-md-0 px-0 ">
                            <img src="/img/temab.jpg" class="card-img-top" alt="Imagen Actividad">
                            <div class="card-body px-4">
                                <h3 class="card-title text-center">Rimas</h3>
                                <p class="card-text text-justify">En este curso aprenderás a identificar las rimas y a utilizarlas en un oración.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="card  mb-5 mx-5 mx-md-0 px-0 ">
                            <img src="/img/temac.jpg" class="card-img-top" alt="Imagen Actividad">
                            <div class="card-body px-4">
                                <h3 class="card-title text-center">Signos de admiración e interrogación</h3>
                                <p class="card-text text-justify">En este curso aprenderás que signos se ocupan para exclamar y cuales para interrogar</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="card  mb-5 mx-5 mx-md-0 px-0 ">
                            <img src="/img/temad.jpg" class="card-img-top" alt="Imagen Actividad">
                            <div class="card-body px-4">
                                <h3 class="card-title text-center">Palabras homófonas</h3>
                                <p class="card-text text-justify">En este curso aprenderás sobre como identificar el uso correcto de las palabras homofonas.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="container py-5">
            <div class="row align-items-center">
                <section class="col-sm-12 col-md-6">
                    <video controls style="width: 100%" poster="/img/miniatura3.jpg">
                        <source src="/video/intro.mp4" type="video/mp4">
                    </video>
                </section>
                <section class="col">
                    <div class="row mb-3">
                        <div class="col-sm-4">
                            <img class="img-fluid" src="/img/actividadb.jpg" alt="Información" title="Información">
                        </div>
                        <div class="col-sm-8">
                            <h4>Conecta con tus profesores</h4>
                            <p>Manten una comunicación efectiva con tus profesores desde la distancia</p>
                            <p class="post-meta d-flex justify-content-between">
                                <span>Codificate</span>
                                <span>Diciembre 2021</span>
                            </p>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-sm-4">
                            <img class="img-fluid" src="/img/actividadc.jpg" alt="Información" title="Información">
                        </div>
                        <div class="col-sm-8">
                            <h4>Estudia diversos temas</h4>
                            <p>Aprende sin alejarte de casa con los mejores expertos</p>
                            <p class="post-meta d-flex justify-content-between">
                                <span>Codificate</span>
                                <span>Marzo 2022</span>
                            </p>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-sm-4">
                            <img class="img-fluid" src="/img/actividad.jpg" alt="Información" title="Información">
                        </div>
                        <div class="col-sm-8">
                            <h4>Estudia a tu ritmo</h4>
                            <p>Cursos gratuitos al alcance de un click</p>
                            <p class="post-meta d-flex justify-content-between">
                                <span>Codificate</span>
                                <span>Abril 2022</span>
                            </p>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <!--======================================== Enlaces importantes ========================================-->

        <div class="container py-5">
            <section class="text-center important-links-index">
                <h1 class="text-center">Sitios y enlaces extras</h1>
                <div class="row">
                    <section class="col">
                        <a href="https://www.rae.es/obras-academicas/gramatica" class="open-link-newTab">
                            <i class="fa fa-book"></i>
                            <p>RAE</p>
                        </a>
                    </section>
                    <section class="col">
                        <a href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&cad=rja&uact=8&ved=2ahUKEwjrjvvrmOT0AhVym2oFHV98AiMQFnoECAYQAQ&url=https%3A%2F%2Flya.fciencias.unam.mx%2Fgfgf%2Fga20111%2Fmaterial%2FOrtografia.pdf&usg=AOvVaw3b2Wp14idMCjjKP9TEQU4-" class="open-link-newTab">
                            <i class="fa fa-graduation-cap"></i>
                            <p>Ortográfia UNAM</p>
                        </a>
                    </section>
                    <section class="col">
                        <a href="https://dem.colmex.mx/Ortografia" class="open-link-newTab">
                            <i class="fa fa-pencil"></i>
                            <p>Diccionario Mexicano</p>
                        </a>
                    </section>
                </div>
            </section>
        </div>
    </main>
    {{/if}}
{{else}}
    <!-- ----------------------------PUBLICO----------------- -->
    <main class="index">
        <!--Contenido cartel index-->
    <div class="index-banner-container py-5" style="background-image: url(/img/font-index3.jpg);height: 100%">

    <div class="container">

        <div class="row">
            <section class="col pt-5 index-lema-container">
                <section class="index-lema">
                    <h2><b>Aprende</b>
                    <br>fácil y rapido<br> <b>desde casa</b>
                    </h2>
                </section>
                <section>
                    <a href="signupE" id="botonRegistroLink">
                        <button><b>Registrarse.</b></button></a>
                    <a href="signin" style="color: white; text-decoration: none;">
                        <button><b>Iniciar sesión.</b></button></a>
                </section>
            </section>
            <section class="col">
                <img src="/img/logoCod2.png" alt="Logo" class="img-responsive" id="logoIndex" width="100%">
            </section>
        </div>

    </div>

</div>
        <!--Que es CodyEdu-->
    <div class="py-2" style="background-image: url(/img/font-index6.png);height: 100%">
        
        <div class="container">

            <div class="row pt-5 mt-5">
                <section class="card col-sm-12 col-md-7 p-5">
                    <h3 class="text-center">¿Qué es CodyEdu?</h3>
                    <p class="text-justify">Personal del Centro de Integración juvenil unidad Cuauhtémoc recién 
                    egresado de la Universidad Pedagógica Nacional, lleva a cabo cursos 
                    multidisciplinarios con niños y jóvenes los cuales por motivos de la pandemia 
                    cuya llegada fue en 2019, estos cursos no pueden ser llevados de manera presencial, 
                    esta problematica trajo consigo la busqueda de la automatización de procesos, aquí es 
                    donde llega CodyEdu una aplicación web que permite la implementación de cursos desde 
                    el hogar.</p>
                </section>
                <section class="col">
                    <img src="/img/font-index5.png" alt="CodyEdu" title="CodyEdu" width="100%">
                </section>
            </div>

        </div>
    </div>

    <div class="py-2" style="background-image: url(/img/font-index7.png);height: 100%">

        <div class="container">
            <h2 align="CENTER" style="color: white;">Temas disponibles</h2>
            <div class="row my-5">
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="card  mb-5 mx-5 mx-md-0 px-0 ">
                            <img src="/img/tema.jpg" class="card-img-top" alt="Imagen Actividad">
                            <div class="card-body px-4">
                              <h3 class="card-title text-center">Oraciones homófonas</h3>
                              <p class="card-text text-justify">En este curso aprenderás sobre como identificar el uso correcto de las palabras homofonas en oraciones</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="card  mb-5 mx-5 mx-md-0 px-0 ">
                            <img src="/img/temab.jpg" class="card-img-top" alt="Imagen Actividad">
                            <div class="card-body px-4">
                              <h3 class="card-title text-center">Rimas</h3>
                              <p class="card-text text-justify">En este curso aprenderás a identificar las rimas y a utilizarlas en un oración.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="card  mb-5 mx-5 mx-md-0 px-0 ">
                            <img src="/img/temac.jpg" class="card-img-top" alt="Imagen Actividad">
                            <div class="card-body px-4">
                              <h3 class="card-title text-center">Signos de admiración e interrogación</h3>
                              <p class="card-text text-justify">En este curso aprenderás que signos se ocupan para exclamar y cuales para interrogar</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="card  mb-5 mx-5 mx-md-0 px-0 ">
                            <img src="/img/temad.jpg" class="card-img-top" alt="Imagen Actividad">
                            <div class="card-body px-4">
                              <h3 class="card-title text-center">Palabras homófonas</h3>
                              <p class="card-text text-justify">En este curso aprenderás sobre como identificar el uso correcto de las palabras homofonas.</p>
                            </div>
                        </div>
                    </div>
            </div>
        </div>

    </div>
    
            <div class="container py-5">
                <div class="row align-items-center">
                    <section class="col-sm-12 col-md-6">
                        <video controls style="width: 100%" poster="/img/miniatura.jpg">
                            <source src="/video/TutoRegistro.mp4" type="video/mp4">
                        </video>
                    </section>
                    <section class="col">
                        <div class="row mb-3">
                            <div class="col-sm-4">
                                <img class="img-fluid" src="/img/actividadb.jpg" alt="Información" title="Información">
                            </div>
                            <div class="col-sm-8">
                                <h4>Conecta con tus profesores</h4>
                                <p>Manten una comunicación efectiva con tus profesores desde la distancia</p>
                                <p class="post-meta d-flex justify-content-between">
                                    <span>Codificate</span>
                                    <span>Diciembre 2021</span>
                                </p>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-4">
                                <img class="img-fluid" src="/img/actividadc.jpg" alt="Información" title="Información">
                            </div>
                            <div class="col-sm-8">
                                <h4>Estudia diversos temas</h4>
                                <p>Aprende sin alejarte de casa con los mejores expertos</p>
                                <p class="post-meta d-flex justify-content-between">
                                    <span>Codificate</span>
                                    <span>Marzo 2022</span>
                                </p>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-4">
                                <img class="img-fluid" src="/img/actividad.jpg" alt="Información" title="Información">
                            </div>
                            <div class="col-sm-8">
                                <h4>Estudia a tu ritmo</h4>
                                <p>Cursos gratuitos al alcance de un click</p>
                                <p class="post-meta d-flex justify-content-between">
                                    <span>Codificate</span>
                                    <span>Abril 2022</span>
                                </p>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <!--======================================== Enlaces importantes ========================================-->
            
        <div class="container py-5">
            <section class="text-center important-links-index">
                <h1 class="text-center">Sitios y enlaces extras</h1>
                <div class="row">
                    <section class="col">
                        <a href="https://www.rae.es/obras-academicas/gramatica" class="open-link-newTab">
                            <i class="fa fa-book"></i>
                            <p>RAE</p>
                        </a>
                    </section>
                    <section class="col">
                        <a href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&cad=rja&uact=8&ved=2ahUKEwjrjvvrmOT0AhVym2oFHV98AiMQFnoECAYQAQ&url=https%3A%2F%2Flya.fciencias.unam.mx%2Fgfgf%2Fga20111%2Fmaterial%2FOrtografia.pdf&usg=AOvVaw3b2Wp14idMCjjKP9TEQU4-" class="open-link-newTab">
                            <i class="fa fa-graduation-cap"></i>
                            <p>Ortográfia UNAM</p>
                        </a>
                    </section>
                    <section class="col">
                        <a href="https://dem.colmex.mx/Ortografia" class="open-link-newTab">
                            <i class="fa fa-pencil"></i>
                            <p>Diccionario Mexicano</p>
                        </a>
                    </section>
                </div>
            </section>
        </div>
    </main>
{{/if}}