<div class="contairner">
    <div class="index-banner-container py-5" style="background-image: url(/img/font-index3.jpg);height: 100%">
        <div class="container py-5">
            <div class="row">
                <section class="col py-5 my-5">
                    <h1>¿Qué es COD/FICATE?</h1>
                    <p>Conoce aquí todo acerca de nuestra empresa</p>
                </section>
                <section class="col">
                </section>
            </div>
        </div>
    </div>
    <div>
        <div class="container py-5">
            <h1 align="CENTER">¿QUIENES SOMOS?</h1>
            <div class="row">
                <section class="col card-nosotros m-5">
                    <section class="img-circle-nosotros">
                        <img src="img/nosotros.jpg" alt="Nosotros" width="100%">
                    </section>
                    <h5>Nosotros</h5>
                    <p>Nosotros somos Codificate, un grupo de estudiantes actualmente cursando la carrera de programación en el Centro de Estudios 
                                Científicos y Tecnológicos N° 9 "Juan de Dios Bátiz" IPN, debido a esto todos nuestros proyectos han sido con el fin de aprender y practicar.</p>
                </section>
                <section class="col card-nosotros m-5">
                    <section class="img-circle-nosotros">
                        <img src="img/nosotrosb.jpg" alt="Nosotros" width="100%">
                    </section>
                    <h5>Objetivo</h5>
                    <p>Una aplicación que permite al centro de integración juvenil implementar cursos virtuales para niños de entre 8 y 12 años, para mejorar la ortografía y gramática de los niños que asisten a la institución.</p>
                </section>
            </div>
        </div>
    </div>
    <div class="container">
        <h1 class="text-center">Objetivos especificos</h1>
        <div class="row my-5">
            <div class="col">
                <div class="card">
                    <section class="card-body">
                        <p>Desarrollar una aplicación que sea capaz de enseñar ortografía y gramática al usuario, para cumplir el objetivo general.</p>
                    </section>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <section class="card-body">
                        <p>Redactar documentos que hablen de temas necesarios para saber el cómo tener una buena ortografía y gramática, para informar a los niños de que necesitan saber para tener buena ortografía y gramática.</p>
                    </section>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <section class="card-body">
                        <p>Crear una interfaz amigable a niños de entre 8 a 12 años, para que los niños no se aburran de la aplicación fácilmente.</p>
                    </section>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <section class="card-body">
                        <p>Generar conciencia al usuario acerca de la importancia de la ortografía y gramática, para que no tomen el tema a la ligera y de verdad lo aprendan.</p>
                    </section>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <section class="card-body">
                        <p>Darle a los profesores una nueva manera de poder enseñar ortografía y gramática que se acomode a la moda de hoy en día, para ayudar a los profesores en la tarea de control de calificaciones de una manera moderna.</p>
                    </section>
                </div>
            </div>
        </div>
    </div>
    <div class="py-5">
        <h1 align="CENTER">RESEÑA HISTORICA</h1>
        <div class="container">
            <div class="row">
                <section class="col card-nosotros me-5">
                        <section class="img-circle-nosotrosc" width="100%">
                            <img src="img/nosotrosc.jpg" alt="Nosotros" width="100%">
                        </section>
                </section>
                <section class="col">
                    <div class="full-reset index-info" style="width: 100%; background-color: rgba(255,255,255,.6);">
                        
                        <p>Personal del Centro de Integración juvenil unidad Cuauhtémoc recién egresado de la Universidad 
                            Pedagógica Nacional, lleva a cabo cursos multidisciplinarios con niños y jóvenes los cuales por motivos
                            de la pandemia cuya llegada fue en 2019, estos cursos no pueden ser llevvados de manera precensial,
                            esta problematica trajo consigo la busqueda de la automatización de procesos, aquí es donde llega 
                            <b>CodyEdu</b> una aplicación web que permite la implementación de cursos desde el hogar.
                        </p>
    
                    </div>
                </section>
            </div>
        </div>
        </section>
    </div>
</div>