<footer class="full-reset footer">
    <div class="full-reset">
        <div class="container">
            <div class="row" style="text-align: center">
                <div class="col-xs-12 col-sm-4" style="text-align: center;">
                    <h4 class="titles subtitles-footer">También puedes visitar:</h4>
                    <ul class="list-unstyled links-footer">
                        <li><a href="/nosotros"><i class="fa fa-users"></i>
                            &nbsp; Sobre nosotros.</a></li>
                        <li style="text-align: center"><a href="https://dionisiosatiro.github.io/4IV8_Proyecto_Aula_Equipo6_Codyrep/" target="_blank"><i class="fa fa-github"></i> &nbsp; CODYREP</a></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <h4 class="titles text-center" style="color: white">Contáctenos.</h4>
                    {{#if user}}
                        <a href="/quejas" class="open-link-newTab" ><i class="fa fa-inbox"></i> &nbsp; &nbsp Quejas y/o sugerencias</a>
                    {{/if}}
                    <p class="text-center" style="color: white"><i class="fa fa-envelope"></i>&nbsp Correo Electrónico:<br> codyedu.team@gmail.com</p>
                </div>
                <div class="col-xs-12 col-sm-4" >
                    <h4 class="titles subtitles-footer">Siguenos en:</h4>
                    <ul class="list-unstyled links-footer">
                        <li><a href="https://m.facebook.com/profile.php?id=100069448171792" class="open-link-newTab" target="_blank"><i class="fa fa-facebook"></i> &nbsp; Facebook.</a></li>
                        <li><a href="https://twitter.com/Codificate2" class="open-link-newTab" target="_blank"><i class="fa fa-twitter" ></i> &nbsp; Twitter.</a></li>
                        <li><a href="https://instagram.com/" class="open-link-newTab" target="_blank"><i class="fa fa-instagram"></i> &nbsp; Instagram.</a></li>
                    </ul>
                </div>
                <div style="width: 100%;">Codificate 2022©<i class="far fa-copyright"></i></div>
            </div>
        </div>
    </div>
</footer>