<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #A2B9EE;">
{{#if user}}
    {{#if user.permisosAdmin}}
        <div class="container">
            <a class="navbar-brand" href="/" id="marca_nav" style="font-family: 'Times New Roman',serif;">
                <img src="/img/logoCodSolo.png" alt="Marca" width="45" height="39">
                CodyEdu.
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/docentes/estudiantes">Estudiantes</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            Docentes.
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/docentes">Docentes.</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/docentes/add">Agregar docente</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/profile">Perfil.</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Cerrar Sesión.</a>
                    </li>
                </ul>
            </div>
        </div>
    {{else}}
        {{#if user.permisos}}
            <div class="container">
                <a class="navbar-brand" href="/" id="marca_nav" style="font-family: 'Times New Roman',serif;">
                    <img src="/img/logoCodSolo.png" alt="Marca" width="45" height="39">
                    CodyEdu.
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Cursos.
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/cursos">Cursos Creados.</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/cursos/add">Agregar un Nuevo Curso</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/profile">Perfil.</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Cerrar Sesión.</a>
                </li>
            </ul>
            </div>
            </div>
        {{else}}
            <div class="container">
                <a class="navbar-brand" href="/" id="marca_nav" style="font-family: 'Times New Roman',serif;">
                    <img src="/img/logoCodSolo.png" alt="Marca" width="45" height="39">
                    CodyEdu.
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Cursos.
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/cursos/liste">Tus Cursos.</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/cursos/unirse">Unirse a curso.</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/profile">Perfil.</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Cerrar Sesión.</a>
                </li>
            </ul>
            </div>
            </div>
        {{/if}}
    {{/if}}
{{else}}
    <div class="container">
        <a class="navbar-brand" href="/" id="marca_nav" style="font-family: 'Times New Roman',serif">
            <img src="/img/logoCodSolo.png" alt="Marca" width="45" height="39">
            CodyEdu.
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">

        <li class="nav-item">
            <a class="nav-link" href="/signupE">Registrarse.</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/signin">Iniciar Sesión.</a>
        </li>
    </ul>
    </div>
    </div>
{{/if}}
</nav>
