<div class="full-reset" style="height: 100%; background-color: rgba(255,255,255,.6);padding-top: 1px">
    <div class="container p-4">
            <div class="row pt-5 mb-5">
                <section class="col-4 col-md-2">
                    <section class="card" style="background-color: #FF7582; color:white;">
                        <div class="card-body text-center">
                            <p>Volver</p>
                            <a class="link-btn" href="javascript:history.back()"><button class="btn-icon"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-left" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0v2z"/>
                            <path fill-rule="evenodd" d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z"/>
                            </svg></button></a>
                        </div>
                    </section>
                </section>
                <section class="col-8">
                    <section class="card card-titles">
                                <div class="card-body px-4">
                                    <h3 class="card-title" align="CENTER">Políticas de Privacidad</h3>
                                </div>
                            </section>
                    </section>
                <section class="col-2 d-none d-sm-block">
                    <section class="card" style="background-color: #6F88FC; color:white;">
                        <div class="card-body text-center">
                            <script type="text/javascript">
                                var d = new Date();
                                document.write('Fecha:<br>'+d.getDate(),'/'+d.getMonth(),'/'+d.getFullYear(),'<br>Hora:<br>'+d.getHours(),':'+d.getMinutes());
                            </script>
                        </div>
                    </section>
                </section>
            </div>
        <div class="row">
            <div class="col-md-8 mx-auto">
                <div class="card text-center" style="border: 0">
                    <div class="card-body">
                        <p>Última actualización: 13 de marzo de 2022.</p>
                        <p>Esta Política de privacidad describe Nuestras políticas y procedimientos sobre la recopilación, el uso y la divulgación de Su información cuando utiliza el Servicio y le informa sobre Sus derechos de privacidad y cómo la ley lo protege.</p>
                        <p>Usamos sus datos personales para proporcionar y mejorar el Servicio. Al usar el Servicio, acepta la recopilación y el uso de información de acuerdo con esta Política de privacidad. Esta Política de privacidad se ha creado con la ayuda de la <a href="https://www.privacypolicies.com/blog/privacy-policy-template/" target="_blank">Plantilla de política de privacidad</a>.</p>
                        <h2>Interpretación y Definiciones.</h2>
                        <h2>Interpretación.</h2>
                        <p>Las palabras cuya letra inicial está en mayúscula tienen significados definidos bajo las siguientes condiciones. Las siguientes definiciones tendrán el mismo significado independientemente de que aparezcan en singular o en plural.</p>
                        <h2>Definiciones.</h2>
                        <p>A los efectos de esta Política de privacidad:</p>
                        <ul>
                            <li>
                                <p><strong>Cuenta</strong> significa una cuenta única creada para que Usted acceda a nuestro Servicio o partes de nuestro Servicio.</p>
                            </li>
                            <li>
                                <p><strong>Empresa</strong> (referida como "la Empresa", "Nosotros", "Nos" o "Nuestro" en este Acuerdo) se refiere a "Codificate".</p>
                            </li>
                            <li>
                                <p><strong>Cookies</strong> son pequeños archivos que un sitio web coloca en Su computadora, dispositivo móvil o cualquier otro dispositivo, y contienen los detalles de Su historial de navegación en ese sitio web entre sus muchos usos.</p>
                            </li>
                            <li>
                                <p><strong>País</strong> se refiere a: México</p>
                            </li>
                            <li>
                                <p><strong>Dispositivo</strong> significa cualquier dispositivo que pueda acceder al Servicio, como una computadora, un teléfono celular o una tableta digital.</p>
                            </li>
                            <li>
                                <p><strong>Datos personales</strong> es cualquier información relacionada con una persona física identificada o identificable.</p>
                            </li>
                            <li>
                                <p><strong>Servicio</strong> hace referencia al Sitio Web.</p>
                            </li>
                            <li>
                                <p><strong>Proveedor de servicios</strong> significa cualquier persona física o jurídica que procesa los datos en nombre de la Compañía. Se refiere a empresas de terceros o personas empleadas por la Empresa para facilitar el Servicio, proporcionar el Servicio en nombre de la Empresa, realizar servicios relacionados con el Servicio o ayudar a la Empresa a analizar cómo se utiliza el Servicio.</ p>
                            </li>
                            <li>
                                <p><strong>Datos de uso</strong> se refiere a los datos recopilados automáticamente, ya sea generados por el uso del Servicio o por la propia infraestructura del Servicio (por ejemplo, la duración de una visita a la página).</p>
                            </li>
                            <li>
                                <p><strong>Sitio web</strong> se refiere a CodyEdu, accesible desde <a href="https://codiedu.herokuapp.com/" rel="external nofollow noopener" target="_blank">https:// codiedu.herokuapp.com/</a></p>
                            </li>
                            <li>
                                <p><strong>Usted</strong> se refiere a la persona que accede o utiliza el Servicio, o la empresa u otra entidad legal en nombre de la cual dicha persona accede o utiliza el Servicio, según corresponda.</p>
                            </li>
                        </ul>
                        <h2>Recopilación y uso de sus datos personales</h2>
                        <h2>Tipos de datos recopilados</h2>
                        <h3>Datos personales</h3>
                        <p>Mientras usa Nuestro Servicio, podemos pedirle que nos proporcione cierta información de identificación personal que se puede usar para contactarlo o identificarlo. La información de identificación personal puede incluir, entre otros:</p>
                        <ul>
                            <li>
                                <p>Dirección de correo electrónico</p>
                            </li>
                            <li>
                                <p>Nombre y apellido</p>
                            </li>
                            <li>
                                <p>Datos de uso</p>
                            </li>
                        </ul>
                        <h3>Datos de uso</h3>
                        <p>Los datos de uso se recopilan automáticamente cuando se utiliza el Servicio.</p>
                        <p>Los datos de uso pueden incluir información como la dirección del protocolo de Internet de su dispositivo (por ejemplo, la dirección IP), el tipo de navegador, la versión del navegador, las páginas de nuestro Servicio que visita, la hora y la fecha de su visita, el tiempo que pasa en esas páginas. , identificadores únicos de dispositivos y otros datos de diagnóstico.</p>
                        <p>Cuando accede al Servicio a través de un dispositivo móvil, podemos recopilar cierta información automáticamente, incluido, entre otros, el tipo de dispositivo móvil que utiliza, la identificación única de su dispositivo móvil, la dirección IP de su dispositivo móvil, su sistema operativo móvil, el tipo de navegador de Internet móvil que utiliza, identificadores únicos de dispositivos y otros datos de diagnóstico.</p>
                        <p>También podemos recopilar información que su navegador envía cada vez que visita nuestro Servicio o cuando accede al Servicio a través de un dispositivo móvil.</p>
                        <h3>Tecnologías de seguimiento y cookies</h3>
                        <p>Usamos cookies y tecnologías de seguimiento similares para rastrear la actividad en nuestro servicio y almacenar cierta información. Las tecnologías de seguimiento utilizadas son balizas, etiquetas y scripts para recopilar y rastrear información y para mejorar y analizar Nuestro Servicio. Las tecnologías que utilizamos pueden incluir:</p>
                        <ul>
                            <li><strong>Cookies o cookies del navegador.</strong> Una cookie es un pequeño archivo que se coloca en su dispositivo. Puede indicar a su navegador que rechace todas las cookies o que indique cuándo se envía una cookie. Sin embargo, si no acepta las Cookies, es posible que no pueda utilizar algunas partes de nuestro Servicio. A menos que haya ajustado la configuración de su navegador
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>