<section class="full-reset fonts-cover py-5" style="background-image: url(/img/font-index8.png);height: 80vh;">
    <div class="container container-login py-5">
        <section>
            <form class="p-5 form-login d-none d-lg-block d-xl-block" action="/signin" method="post">
                <h3 class="text-center pb-3">Iniciar Sesión</h3>
                <div class="form-group">
                    <input type="text" name="username" placeholder="Nombre de usuario" class="form-control" style="border-radius:40px;">
                </div>
                <div class="form-group pb-3">
                    <input type="password" name="password" class="form-control" placeholder="Contraseña" style="border-radius:40px;">
                </div>
                <div class="form-group">
                    <button class="btn btn-success btn-block" id="btn_blue" >
                        Iniciar.
                    </button>
                    <a href="forgot"><p class="text-center">¿Olvidaste tu contraseña?</p></a>
                </div>
            </form>
        </section>
        <section>
            <form class="p-5 form-loginbb d-block d-lg-none d-xl-none" action="/signin" method="post">
                <h3 class="text-center pb-3">Iniciar Sesión</h3>
                <div class="form-group">
                    <input type="text" name="username" placeholder="Nombre de usuario" class="form-control" style="border-radius:40px;">
                </div>
                <div class="form-group pb-3">
                    <input type="password" name="password" class="form-control" placeholder="Contraseña" style="border-radius:40px;">
                </div>
                <div class="form-group">
                    <button class="btn btn-success btn-block" id="btn_blue" >
                        Iniciar.
                    </button>
                    <a href="forgot"><p class="text-center">¿Olvidaste tu contraseña?</p></a>
                </div>
            </form>
        </section>
        <section class="text-login d-none d-lg-block d-xl-block">
                <img src="/img/usuarioBTN.png" alt="Iniciar sesión">
        </section>
    </div>
</section>